@{
    ViewBag.Title = "权限按钮页面";
    Layout = "~/Views/Shared/_Layout.cshtml";/*权限按钮页面*/
}

@section head{
    <style>
    </style>
}

@section scripts{
    <script src="~/Scripts/03jeasyui/icons/icons.all.js"></script>
    <script src="~/Areas/Sys/ViewJS/Base_Button.js?v=@ViewBag.ts"></script>
    <script type="text/javascript">
        var model_string = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
        km.model = JSON.parse(model_string);
    </script>
}
<input id="hd_model" type="hidden" value="@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))" />
@*页面布局 可以自定义 yxz 14:42 2015-11-14*@
<div class="easyui-layout" data-options="fit:true" style=" overflow:hidden;">
    <div id="north_panel" data-options="region:'north',border:false">
        <div id="km_toolbar" class="km_toolbar">
            <a id="toolbar_refresh" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-standard-arrow-refresh'" title="刷新" onclick="km.toolbar.do_refresh();">刷新</a>
            <a id="toolbar_add" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-standard-add'" title="新增" onclick="km.toolbar.do_add();">新增</a>
            <a id="toolbar_edit" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-standard-pencil'" title="编辑" onclick="km.toolbar.do_edit();">编辑</a>
            <a id="toolbar_delete" href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-standard-delete'" title="删除" onclick="km.toolbar.do_delete();">删除</a>
        </div>
    </div>
    <div id="main-panel" data-options="region: 'center',border:false" style="padding: 0px;">
        <table id="maingrid"></table>
    </div>
</div>

<script id="tpl_add" type="text/html">
    <div style="width: auto; height: auto">
        <div style="padding: 10px 30px">
            <form id="formadd" method="post">
                <table cellpadding="3">
                    <tr>
                        <td>按钮代码</td>
                        <td>
                            <input id="TPL_ButtonCode" name="ButtonCode" class="easyui-textbox" data-options="required:true,value:''" style="width: 250px" />
                        </td>
                    </tr>
                    <tr>
                        <td>按钮名称</td>
                        <td>
                            <input id="TPL_ButtonName" name="ButtonName" class="easyui-textbox" data-options="required:true" style="width: 250px" />
                        </td>
                    </tr>
                    <tr>
                        <td>按钮类型</td>
                        <td> 
                            <select id="TPL_ButtonType" name="ButtonType" class="easyui-combobox" data-options="editable:false,hasDownArrow:false,panelHeight:60" style="width:250px;">
                                <option value="1">工具栏按钮</option>
                                <option value="2">右键菜单按钮</option>
                                <option value="3">其他</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>JS事件方法</td>
                        <td>
                            <input id="TPL_JsEvent" name="JsEvent" class="easyui-textbox" data-options="required:true" style="width: 250px" />
                        </td>
                    </tr>
                    <tr>
                        <td>图标样式</td>
                        <td>
                            <input id="TPL_IconClass" name="IconClass" type="text" style=" width: 200px; " />
                            <span id="span_icon" class="icon" title=""></span>
                        </td>
                    </tr>
                    <tr>
                        <td>排序</td>
                        <td>
                            <input id="TPL_Sort" name="Sort" type="text" class="easyui-numberbox" value="100" data-options="min:100,max:999" style="width: 250px" />
                        </td>
                    </tr>

                    <tr>
                        <td>启用</td>
                        <td>
                            <select id="TPL_Enabled" name="Enabled" class="easyui-combobox" data-options="editable:false,panelHeight:60" style="width:250px;">
                                <option value="0">禁用</option>
                                <option value="1">启用</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>备注</td>
                        <td>
                            <input id="TPL_Remark" name="Remark" class="easyui-textbox" data-options="required:false" style="width: 250px" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</script>


<!-- 模板2开始，可以使用script（type设置为text/html）来存放模板片段，并且用id标示 -->
<script id="tpl_icon" type="text/html">
    <div style="width: 100%; height: auto; margin: 0 auto; padding: 0; overflow:hidden">
        <div style="width: 100%; height: 30px; line-height: 30px; background: #f2f2f2; border-bottom: 1px solid #ccc; ">
            <div id="span_selected_icon" class="icon iconbox" style="border: none; width: 18px; height: 18px; padding: 0; margin-top: 5px; margin-left: 20px; "></div><b id="icontext"></b>
            <div style=" float: right; margin-right:20px"><%=title%>，共有<%=list.length%>个元素</div>
        </div>
        <%if(list.length>1) { %>
        <div id="div_icons" style="width: 100%; height: auto; margin: 0 auto;  padding: 10px 0px; overflow-y: auto; ">
            <%for(var i=0;i<list.length;i++){%>
                <span id="<%=list[i].iconCls%>" class="icon <%=list[i].iconCls%> iconbox" title="<%=list[i].iconCls%>"></span>
                <%}%>
        </div>
        <%}else{%>
        <h2>没有数据</h2>
        <%}%>
    </div>
</script>
<!-- 模板2结束 -->
