<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="Sys" providerName="SqlServer" connectionString="server=.;uid=sa;pwd=123456;database=YY_KMSYS_V1X" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--禁用VS2013的Browser Link-->
    <add key="vs:EnableBrowserLink" value="false" />
    <!--为了能保证监视能正常工作，还需要确保网站bin目录下存在ClownFishProfilerLib.dll文件， 此文件订阅了前面所说的事件，并通过Remoting给ClownFishSQLProfiler.exe发送应用程序访问数据库的所有操作细节。 当ClownFishProfilerLib.dll不存在时，ClownFishSQLProfiler.exe不会收到任何通知，但并不影响网站正常运行。-->
    <add key="EnabledClownFishProfiler" value="true" />
    <!--实体类型的加载器自动编译模式下，定时器的执行频率必须大于 3000 。单位：毫秒。【系统默认设置1分钟】-->
    <add key="AutoCompileTimerPeriod" value="60000" />

    <!--配置登录默认失效时长(单位)：小时-->
    <add key="LoginEffectiveHours" value="0.5"/>
    <add key="EasyuiVersion" value="1.4.4"/>
    <add key="SystemVersion" value="v1.0"/><!--系统版本-->
  </appSettings>
  <system.web>
    <!--<customErrors mode="Off" />-->
    <compilation debug="true" targetFramework="4.5" />
    <!--.NetFrameWork 4.0 Validaterequest="false"不起作用  要恢复到2.0的ASP.NET请求验证功能的行为 编辑器使用 yxz 10:04 2015-07-21-->
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" executionTimeout="300" maxRequestLength="52428800" useFullyQualifiedRedirectUrl="false" />

    <!--使用Forms认证-->
    <authentication mode="Forms">
      <forms name="KMAUTH" loginUrl="~/Login" defaultUrl="~/Login"   protection="All" timeout="40" path="/"  />
    </authentication>
    <!--<authorization>
      <allow users="*"/>
    </authorization>-->

  </system.web>
  <system.webServer>
    <!--yxz add-->
    <validation validateIntegratedModeConfiguration="false" />
    <!--<modules runAllManagedModulesForAllRequests="true" />-->
    <!--yxz Notes-->
    <!--<modules>
      <remove name="FormsAuthenticationModule" />
    </modules>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
    <!--<connectionStrings>
    --><!--提供对应程序的命名空间--><!--
    <add name="Sys" providerName="System.Data.SqlClient" connectionString="server=.;database=YY_KMSYS;uid=sa;pwd=123456 " />
    --><!--<add name="KnitwearManagementTableEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=KnitwearManagementTable;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
   
  </connectionStrings>-->
</configuration>